<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #eee;
    background-color: #202020;
  }
</style>

<html>
  <head>
    <title>Privacy Policy - Momentum Mod</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <img
      class="logo"
      src="/assets/images/logo.svg"
      alt="Momentum Mod's Titlecard Logo"
    />
  </body>
</html>
