---
import LegalLayout from '../../layouts/legal.astro';
import '@fontsource/roboto';
---

<LegalLayout title="Copyright Policy">
  <p>
    Momentum Mod is a heavily community-oriented game. All in-game content (e.g.
    levels or “maps”, models, animations, textures, sounds) is created and
    uploaded by community members, sometimes without correctly obtaining
    permission from relevant copyright holders.
  </p>
  <p>
    We do not advertise or profit directly from uploaded content, and the
    platform’s operating costs are funded in part by community donations and
    out-of-pocket costs from our team members.
  </p>
  <h2>Reporting copyright infringements</h2>

  <p>
    If you believe that content residing on or accessible through the Momentum
    Mod website or game infringes your copyright, please send a notice of
    claimed copyright infringement containing the following information to our <a
      href="mailto:legal@momentum-mod.org">legal@momentum-mod.org</a
    > email and we will reply within 48 hours:
  </p>
  <ul>
    <li>
      An electronic signature of a person authorised to act on behalf of the
      owner of the copyright that has been allegedly infringed;
    </li>

    <li>
      Identification of the copyrighted works claimed to have been infringed, or
      if multiple copyrighted works at a single online site are covered by a
      single notification, a representative list of such works at that site;
    </li>

    <li>
      Identification of the material that is claimed to be infringing or to be
      the subject of infringing activity and that is to be removed or access to
      which is to be disabled, and information reasonably sufficient to permit
      Momentum Mod to locate the material;
    </li>

    <li>
      Contact information for the notifier, such as an address, telephone number
      and, if available, an e-mail address;
    </li>

    <li>
      A statement that the notifier has a good faith belief that use of the
      material in the manner complained of is not authorised by the copyright
      owner, its agent, or the law; and
    </li>

    <li>
      A statement that the information in the notification is accurate, and
      under penalty of perjury, that the notifying party is authorised to act on
      behalf of the owner of the copyright that is allegedly infringed.
    </li>
  </ul>
  <p>
    Once a complete and proper notice of claimed copyright infringement is
    received, or if the Momentum Mod Team otherwise comes to believe in good
    faith that content on the service may contain material that infringes
    copyright, it is the Momentum Mod Team’s policy to:
  </p>
  <ul>
    <li>
      Remove or disable access to the content identified in the notice of
      claimed infringement;
    </li>

    <li>
      Notify the content provider, member, or user that the content has been
      removed or disabled and;
    </li>

    <li>
      Terminate in appropriate circumstances users who are repeat infringers
    </li>
  </ul>
  <p>
    <em
      >Last updated 09/14/2025 - <a
        href="https://github.com/momentum-mod/frontpage/commits/main/src/pages/legal/copyright.astro"
        >History</a
      ></em
    >
  </p>
</LegalLayout>
