---
import LegalLayout from '../../layouts/legal.astro';
---

<LegalLayout title="Privacy Policy">
  <h1>Momentum Mod (DEVELOPMENT PLACEHOLDER NOT REAL!!) Privacy Policy</h1>

  <p>
    This Privacy Policy describes how Momentum Mod ("we", "us", or "our")
    collects, uses, and shares information about you when you use our website
    and services.
  </p>

  <h2>Information We Collect</h2>
  <div>
    <p>We may collect the following types of information:</p>
    <ul>
      <li>
        Personal Information: Name, email address, and other contact details.
      </li>
      <li>
        Usage Data: Information about how you use our website and services.
      </li>
      <li>
        Cookies: Small data files stored on your device to enhance your
        experience.
      </li>
    </ul>
  </div>
  <h2>How We Use Your Information</h2>
  <div>
    <p>We use the information we collect for the following purposes:</p>
    <ul>
      <li>To provide and maintain our services.</li>
      <li>To improve our website and services.</li>
      <li>
        To communicate with you, including sending updates and promotional
        materials.
      </li>
      <li>To comply with legal obligations.</li>
    </ul>
  </div>

  <h2>Sharing Your Information</h2>
  <div>
    <p>
      We may share your information with third parties in the following
      situations:
    </p>
    <ul>
      <li>With your consent.</li>
      <li>
        With service providers who assist us in operating our website and
        services.
      </li>
      <li>To comply with legal requirements or protect our rights.</li>
    </ul>
  </div>

  <h2>Security</h2>
  <div>
    <p>
      We take reasonable measures to protect your information from unauthorized
      access, use, or disclosure. However, no method of transmission over the
      internet or electronic storage is 100% secure.
    </p>
  </div>
  <h2>Changes to This Privacy Policy</h2>
  <div>
    <p>
      We may update this Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on our website. Your
      continued use of our services after any changes indicates your acceptance
      of the updated Privacy Policy.
    </p>
  </div>
  <h2>Contact Us</h2>
  <div>
    <p>
      If you have any questions or concerns about this Privacy Policy, please
      contact us at <a href="mailto:bing.com"> </a> or through our website's contact
      form.
    </p>
  </div>
</LegalLayout>
