---
import LegalLayout from '../../layouts/legal.astro';
import '@fontsource/roboto';
---

<LegalLayout title="Privacy Policy">
  <p>
    Momentum Mod provides a centralized platform for our community, connecting
    players from around the world to provide global leaderboards, map (game
    levels) submission and other social features.
  </p>
  <p>
    In order to provide this, we collect, store and transmit a limited amount of
    personal information. This document summarizes what information we collect,
    who we disclose it to, and what options you have to control your personal
    information.
  </p>
  <p>
    By using our service, you confirm that you have read and understood the <a
      href="/legal/terms-of-service">Terms of Service</a
    > and this Privacy Policy, including how and why we use your information and
    that your use of the service is subject to the applicable Terms of Service and
    this Privacy Policy. If you do not want us to collect or process your personal
    information as described herein, you have several choices including: limiting
    the information you provide to us, deleting data you have provided, or outright
    not using our platform.
  </p>
  <h2>Information we collect</h2>

  <h3>On account registration</h3>

  <p>
    To use our services you must authenticate using a <a
      href="https://steamcommunity.com/">Steam Community</a
    > account.
  </p>
  <p>This happens upon either</p>
  <ul>
    <li>
      First authentication to our <a href="https://dashboard.momentum-mod.org"
        >dashboard</a
      > website via the Steam Community login portal, or
    </li>

    <li>
      Accepting our <a href="/legal/terms-of-service">Terms of Service</a> on the
      first launch of the game.
    </li>
  </ul>
  <p>
    Upon registration, we store public data provided by your Steam account in
    our systems, including but not limited to:
  </p>
  <ul>
    <li>SteamID (unique account identifier),</li>

    <li>Your Steam username,</li>

    <li>Your country, if set publicly on your Steam profile.</li>
  </ul>
  <p>
    Authentication is provided solely through Steam’s OpenID system, meaning we
    never collect or store an email address and/or password when using our
    systems.
  </p>
  <h3>On updating your profile</h3>

  <p>
    You may optionally provide additional information to your public user
    profile:
  </p>
  <ul>
    <li>Your country</li>

    <li>Your username</li>

    <li>A user “biography”</li>

    <li>Social media account handles/IDs (Discord, YouTube, etc…)</li>
  </ul>
  <p>
    You may update or remove all this information at any time if you are not
    restricted from doing so. Restrictions will be put in place if you decide to
    abuse these information fields, in which case all information is removed on
    your behalf and your account is restricted from editing it. The only field
    we inherently do <em>not</em> allow you to update is your Steam account ID, which
    is used to uniquely identify your Momentum Mod account with your Steam account.
  </p>
  <h3>On uploading user submitted content</h3>

  <p>
    When posting content to our dashboard, such as posting map reviews, or when
    participating in activities in the game, such as submitting runs to leaderboards,
    you are expressly publicising that content.
  </p>
  <p>
    In cases such as comments and reviews, they can be edited and deleted after
    submission at your discretion.
  </p>
  <p>
    In the case of submitting maps, once a map has been fully “approved” it can
    no longer be updated or deleted by the user unless allowed by an
    administrator, to preserve the validity of its corresponding leaderboards.
  </p>
  <h3>On playing the game and submitting to leaderboards</h3>

  <p>
    Runs (personal best map completions) are automatically submitted to our
    server and placed on leaderboards. Run related data is publicly accessible
    from those leaderboards and you cannot delete or modify it.
  </p>
  <p>A “run” consists of the:</p>
  <ul>
    <li>Account that accomplished the run,</li>

    <li>Time that was accomplished in the run,</li>

    <li>
      Game replay data associated with playing the game to allow other users to
      view the run, and
    </li>

    <li>The date and time the run was accomplished</li>
  </ul>
  <p>
    Upon your account deletion (see below), your account username tied to your
    runs will be anonymized to the best of our ability. However, to ensure
    competitive integrity for our leaderboards, the other relevant run data will
    not be deleted.
  </p>
  <p>
    The only instances where a run is removed from any leaderboard is when the
    run is found to be illegitimate, or the map for which the run is submitted
    is removed.
  </p>
  <h3>Logging</h3>

  <p>
    We utilize error logging which collects technical and usage information as
    you use our services. This may include IP address, your username, browser
    type and version, time zone setting and location, operating system and
    platform and other details on what devices you use to access our services.
  </p>
  <h2>Disclosures of your personal data</h2>

  <p>We do not perform any marketing or advertising with user data.</p>
  <p>
    We may share your personal data with third parties in very specific cases:
  </p>
  <ul>
    <li>
      In order to improve our game and services we use <a
        href="https://sentry.io/">Sentry</a
      > for crash reports and logging.
    </li>
    <ul>
      <li>
        If not already opted-out of it, you are given an option to manually
        submit an individual crash report after a game client crash. These
        reports contain your SteamID, the path to your game files on disk,
        history of your game client console log, and a summary of your
        computer’s hardware information.
      </li>

      <li>
        Logs collected from our web systems are stored in Sentry. This may
        include IP address, your Steam ID and username, browser type and
        version, time zone setting and location, operating system and platform
        and other details on what devices you use to access our services.
      </li>
    </ul>
  </ul>
  <h2>Your rights and control</h2>

  <p>
    As a user you have the right to update or delete the personal information
    you provide. This can be done primarily from the <a
      href="https://dashboard.momentum-mod.org/profile/edit">profile settings</a
    > page on our website.
  </p>
  <p>Your map reviews can be deleted on an individual basis.</p>
  <p>
    Maps you submit that are currently in submission (prior to “approval”) may
    be deleted at any point. After approval you will no longer have the ability
    to edit or remove a map via our web interface, but you may contact us (<em
      >see below</em
    >) if you want to remove any personally identifying content or disable the
    map entirely.
  </p>
  <h3>Deleting your account</h3>

  <p>
    You also have the option of deleting your account from our service from the <a
      href="https://dashboard.momentum-mod.org/profile/edit">profile settings</a
    > page on our website. Upon deletion, the Steam ID used to identify your Steam
    account is removed, your alias is set to “Deleted User”, and all information
    added in the “On updating your profile” section is deleted. This feature is to
    ensure
    <a href="https://gdpr.eu/right-to-be-forgotten/"
      >GDPR “right to be forgotten”</a
    > compliance, but is available to all users regardless of legal jurisdiction.
  </p>
  <p>
    As we have a strict one-account-per-user policy to maintain fair
    leaderboards, after account deletion you may not be able to return to our
    service. To enforce this, we will store a cryptographic hash of your Steam
    ID in our systems, which will prevent Steam IDs matching that hash from
    signing up again in the future. This is done so as a <a
      href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/lawful-basis/legitimate-interests/what-is-the-legitimate-interests-basis/"
      >legitimate interest as outlined in the GDPR</a
    > in order to enforce to maintain this policy. Unless you try to sign up again
    with the same Steam account, it is impossible for us to determine the original
    Steam ID.
  </p>
  <h2>Children</h2>

  <p>
    Momentum Mod’s services are not designed for children under the age of 13.
    If we discover that a person under the age of 13 has submitted personal
    information to us without parental permission, we will endeavour to delete
    their account and information from our systems.
  </p>
  <h2>Cookies</h2>

  <p>
    We use cookies, solely for the purpose of maintaining your session state and
    login credentials across multiple sessions. We do not store non-essential or
    third-party cookies in any form.
  </p>
  <h2>Data Security</h2>

  <p>
    All communications with our web systems employ HSTS to ensure all sites on
    our domain are encrypted via TLS. We endeavour to store as little personal
    data as possible, and employ high standards in data security for access to
    our servers.
  </p>
  <h2>Contact Us</h2>

  <p>
    You can contact us about any privacy-related queries or issues at <a
      href="mailto:privacy@momentum-mod.org">privacy@momentum-mod.org</a
    >. We will endeavor to respond within 48 hours.
  </p>
  <p>
    <em
      >Last updated 09/14/2025 - <a
        href="https://github.com/momentum-mod/frontpage/commits/main/src/pages/legal/privacy-policy.astro"
        >History</a
      ></em
    >
  </p>
</LegalLayout>
