---
import Seo from '../components/seo.astro';
import Hero from '../components/hero.astro';
import WhatIsMomentum from '../components/what-is-momentum.astro';
import Gamemodes from '../components/gamemodes/gamemodes.astro';
import Features from '../components/features.astro';
import Credits from '../components/credits/credits.astro';
import Footer from '../components/footer.astro';

import '@fontsource/roboto/400.css';
import '@fontsource/roboto/400-italic.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/600.css';
import '@fontsource/roboto/700.css';
import '../styles/main.css';
import '../styles/lite-yt-embed.css';
import '../styles/ui-chunks.css';
---

<html lang="en">
  <head>
    <title>Momentum Mod</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#1896D3" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <Seo />
  </head>

  <body>
    <header>
      <Hero />
    </header>

    <main id="Main">
      <div class="background-section dark-bg">
        <section id="WhatIsMomentum">
          <WhatIsMomentum />
        </section>

        <section id="Gamemodes">
          <Gamemodes />
        </section>
        <div class="fancy-border"></div>
      </div>

      <div class="background-section bg-image">
        <div class="fancy-border-top"></div>
        <picture class="background">
          <source
            media="(max-width: 1280px)"
            srcset="/assets/images/bg-light_1280x720.webp"
          />
          <source
            media="(max-width: 1920px)"
            srcset="/assets/images/bg-light_1920x1080.webp"
          />
          <source
            media="(min-width: 1921px)"
            srcset="/assets/images/bg-light_2560x1440.webp"
          />
          <img src="/assets/images/bg-light_1920x1080.webp" alt="" />
        </picture>

        <div class="fancy-border-top"></div>

        <section id="Features">
          <div class="header-title">
            <h1>Features</h1>
          </div>
          <Features />
        </section>
        <div class="fancy-border"></div>
      </div>

      <div class="background-section dark-bg">
        <section id="Credits">
          <Credits />
        </section>
      </div>

      <div class="background-section bg-image">
        <footer>
          <Footer />
        </footer>
      </div>
    </main>
  </body>
</html>
