---
import Seo from '../components/seo.astro';
import Hero from '../components/hero.astro';
import WhatIsMomentum from '../components/what-is-momentum.astro';
import Gamemodes from '../components/gamemodes/gamemodes.astro';
import Features from '../components/features.astro';
import Credits from '../components/credits/credits.astro';
import Footer from '../components/footer.astro';

import '@fontsource/roboto';
import '../styles/main.css';
import '../styles/lite-yt-embed.css';
import '../styles/ui-chunks.css';
---

<html lang="en">
  <head>
    <title>Momentum Mod</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#1896D3" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <Seo />
  </head>

  <body>
    <header>
      <Hero />
    </header>

    <main id="Main">
      <div class="background-section">
        <section id="WhatIsMomentum">
          <WhatIsMomentum />
        </section>

        <section id="Gamemodes">
          <h1>Gamemodes</h1>
          <Gamemodes />
        </section>
        <div class="fancy-border"></div>
      </div>

      <div class="background-section">
        <picture class="background">
          <source
            media="(max-width: 1280px)"
            srcset="/assets/images/bg-light_1280x720.webp"
          />
          <source
            media="(max-width: 1920px)"
            srcset="/assets/images/bg-light_1920x1080.webp"
          />
          <source
            media="(min-width: 1921px)"
            srcset="/assets/images/bg-light_2560x1440.webp"
          />
          <img src="/assets/images/bg-light_1920x1080.webp" alt="" />
        </picture>

        <div class="fancy-border-top"></div>

        <section id="Features">
          <div class="header-title">
            <h1>Features</h1>
          </div>
          <Features />
        </section>

        <section id="Credits">
          <div class="header-title">
            <h1>Credits</h1>
          </div>
          <div class="credits">
            <Credits />
          </div>
        </section>

        <!-- Can't avoid sticking the footer in here. Gah! -->
        <footer>
          <Footer />
        </footer>
      </div>
    </main>
  </body>
</html>
