---
import Replay from '../components/ui-chunks/replay.astro';
import MapSelector from '../components/ui-chunks/map-selector.astro';
import Graph from '../components/ui-chunks/graph.astro';
import Levels from '../components/ui-chunks/levels.astro';
import Leaderboards from '../components/ui-chunks/leaderboards.astro';
import Lobby from '../components/ui-chunks/lobby.astro';
---

<div class="bento-grid">
  <div class="bento-item leaderboards">
    <div class="details">
      <h1>Leaderboards, replays and analytics</h1>
      <p>
        Show the world your skills! All personal best runs submitted are
        validated and then placed on a global leaderboard, including a replay
        that can be watched by anyone playing Momentum.
      </p>
      <p>
        We collect detailed analytics for every run, allowing you to track
        improvement and compare yourself with other players from in-game or our
        website.
      </p>
    </div>
    <div class="scroll-wrapper">
      <div id="Leaderboard" class="ui-chunk bordered">
        <Leaderboards />
      </div>
    </div>
    <div id="Replay" class="ui-chunk bordered">
      <Replay />
    </div>
  </div>
  <div class="bento-item map-selector">
    <div class="details">
      <h1>In-Game Map Selector</h1>
      <p>
        Play any map you want, for however long you want, whenever you want.
        With Momentum’s in-game map selector featuring advanced filtering and
        preview screenshots, you’re in control of what maps to play.
      </p><p>
        All of the maps on Momentum are submitted and reviewed by the community,
        including ports of existing maps from all of your favorite gamemodes!
      </p>
    </div>
    <div class="scroll-wrapper">
      <div id="MapSelector" class="ui-chunk bordered">
        <MapSelector />
      </div>
    </div>
  </div>
  <div class="bento-item levels">
    <div id="Graph">
      <Graph />
    </div>
    <div id="Levels" class="ui-chunk bordered">
      <Levels />
    </div>
    <div class="details">
      <h1>Levels and Ranks</h1>
      <p>
        Momentum is heavily geared towards player progression and rewards you
        for all runs you submit.
      </p><p>
        Submitting runs earn you <b>experience points</b>, which are public on
        your profile and can be used to purchase cosmetics, as well as <b
          >rank points</b
        > for that gamemode, which contribute to your overall gamemode rank.
      </p>
    </div>
  </div>
  <div class="bento-item multiplayer">
    <div id="Lobby" class="ui-chunk bordered">
      <Lobby />
    </div>
    <div class="details">
      <h1>Lag-Free Multiplayer</h1>
      <p>
        Multiplayer in Momentum is a fully optional layer on top of the game;
        you choose to play by yourself or with others. When playing with others,
        we do not force synchronized game state, allowing you to play without
        feeling the burden of ping from traditional multiplayer servers.
      </p>
      <p>
        Our multiplayer uses <a
          href="https://partner.steamgames.com/doc/features/multiplayer/matchmaking"
          >Steam lobbies</a
        > to establish direct connections between users. The upside is that anyone
        can host a lobby, completely for free, have no movement delay unless they’re
        spectating another player, and can be in a lobby with someone whilst on different
        maps.
      </p>
    </div>
  </div>
</div>
