---
import LiteYTEmbed from './lite-youtube.astro';
---

<div class="description">
  <h1>What is Momentum Mod?</h1>

  <p>
    Momentum Mod is a free game that aims to faithfully recreate, centralize,
    and improve upon movement game modes found in Counter-Strike, Team Fortress,
    Half-Life, and Quake. These games are all first-person
    <i>shooters</i>, but communities from multiplayer servers across these games
    have honed in on unique, highly-competitive movement-focused gameplay
    completely separate from the original game's PvP goal.
  </p>

  <p>
    As long-term members of these communities, we formed Momentum Mod as an
    attempt to establish these modes into a not-for-profit, widely accessible
    platform with centralized leaderboards. Despite affectionately having "Mod"
    in the name, Momentum is a fully standalone game built on a
    <a href="https://stratasource.org">modernized Source Engine</a>. We've
    integrated functionality from community server plugins directly into the
    game, alongside movement fixes, polish and new features to make the best
    platform to learn, improve, and compete in each of the supported modes.
  </p>
</div>

<LiteYTEmbed
  videoid="Cep1KZKznZo"
  class="intro-video"
  playlabel="Play: What is Momentum Mod?"
  title="What is Momentum Mod?"
/>
