---
import LiteYTEmbed from './lite-youtube.astro';
---

<div class="description">
  <h1>What is Momentum Mod?</h1>

  <p>
    Momentum Mod is a free game that centralizes and improves upon movement game
    modes found in Counter-Strike, Team Fortress, Half-Life, and Quake.
  </p>

  <p>
    These games are all first-person shooters, but communities within them have
    honed in on unique and competitive movement-focused game modes completely
    separate from the primary gameplay. Momentum Mod gives these game modes the
    platform they deserve and elevates them to a new level.
  </p>

  <p>
    Despite having "Mod" in the name, Momentum Mod is a fully standalone game
    built on a modernized Source Engine. The game combines functionality from
    popular community plugins found on other games with entirely new features
    and a level of polish that is only possible for a standalone game, making
    Momentum Mod the best platform to learn, improve, and compete on.
  </p>
</div>

<LiteYTEmbed
  videoid="Cep1KZKznZo"
  class="intro-video"
  playlabel="Play: What is Momentum Mod?"
  title="What is Momentum Mod?"
/>
