<style>
  body {
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #eee;
    background-color: #1b1b1b;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem 1rem 2rem;

    a,
    a:link,
    a:visited,
    a:focus,
    a:hover,
    a:active {
      color: #67d3f5 !important;
    }
  }

  .logo {
    width: 40rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    max-width: 100%;
  }
</style>

<html>
  <head>
    <title>{Astro.props.title} - Momentum Mod</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  </head>

  <body>
    <img
      class="logo"
      src="/assets/images/logo.svg"
      alt="Momentum Mod's Titlecard Logo"
    />

    <h1>Momentum Mod {Astro.props.title}</h1>

    <slot />
  </body>
</html>
